<ng-container *ngIf="currentUser; else loginTemplate">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="'side'" [opened]="true">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/clientes" routerLinkActive="active">
          <mat-icon matListItemIcon>people</mat-icon>
          <span>Clientes</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Sistema de Gestão de Empréstimos Consignados</span>
        <span class="toolbar-spacer"></span>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon class="icon-usuario">account_circle</mat-icon>
          {{ currentUser?.nome }}
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>
