# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.log

# Configuração do ambiente
.env

# Dependências
node_modules/

# Ignorar diretórios de build
/Backend/bin/
/Backend/obj/
