.content {
  margin: 20px auto;
  padding: 2rem;
  max-width: 700px;

}

mat-card {
  padding: 20px;
}

mat-card-header {
  justify-content: center;
}

.titulo-formulario {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #3f51b5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5px;
  margin-bottom: 15px;
}

.form-row {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.center-buttons {
  justify-content: center;
  gap: 16px;
}

.btn-voltar,
.btn-criar {
  padding: 12px 24px;
  font-size: 16px;
  min-width: 120px;
  border-radius: 6px;
}

.btn-voltar:hover,
.btn-criar:hover {
  opacity: 0.9;
  transform: scale(1.02);
}


.btn-voltar {
  background-color: #757575;
  color: white;
}

.btn-criar {
  background-color: #4caf50;
  color: white;
}